.product-card-test{
  background: #fff;
  border-radius: 0.5rem;
  max-width: 18rem;
}

.product-test{
  background: var(--bg);
  gap: 1rem;
  border-radius: 0.5rem;
}

.product-card-text-main
{
  font: var(--nav-logo-font);
  margin: 0.7rem;
}
.product-card-text-secondary{
  margin-left: 0.7rem;
  font: 400 0.9rem/1.2em var(--ff);
  color: var(--text-muted);
}
